[Unit]
Description=USB CDC-ACM kernel console gadget
Documentation=file:/usr/local/lib/nabu/nabu-usb-console.sh
DefaultDependencies=no
After=sysinit.target
Before=multi-user.target
ConditionPathExists=/sys/class/udc
ConditionPathExists=/sys/kernel/config/usb_gadget

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/lib/nabu/nabu-usb-console.sh

[Install]
WantedBy=multi-user.target
